<!DOCTYPE html>
<html>
<head>
    <title>@ViewBag.Title</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />

    <link href="@Url.Content("~/Content/Site.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/themes/bootstrap/jquery-ui-1.8.16.custom.css")" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="@Url.Content("~/Scripts/styles/idea.css")" />
    <script type="text/javascript">RootUri = '@Url.Content("~/")';</script>
    <script src="@Url.Content("~/Scripts/jquery-1.7.1.min.js")" type="text/javascript"> </script>
    <script src="@Url.Content("~/Scripts/jquery-ui-1.8.17.min.js")" type="text/javascript"> </script>
    <script src="@Url.Content("~/Scripts/modernizr-2.0.6-development-only.js")" type="text/javascript"> </script>
    <script src="@Url.Content("~/Scripts/highlight.pack.js")" type="text/javascript"> </script>
    <script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"> </script>
    <script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"> </script>
    <script src="@Url.Content("~/Scripts/jquery.WikiScripts.js")" type="text/javascript"> </script>
    <script src="@Url.Content("~/Scripts/jquery.toc.min.js")" type="text/javascript"> </script>
    <script src="@Url.Content("~/Scripts/application.js")" type="text/javascript"> </script>
    <script>
        hljs.tabReplace = '    '; // 4 spaces
        // ... or hljs.tabReplace = '<span class="indent">\t</span>';

        hljs.initHighlightingOnLoad();
</script>
</head>
<body>
    <div class="header">
        <div class="container">
            <div class="left-bar">
                .NET Wiki
            </div>
            <div class="right-bar">
                <form method="POST" action="@Url.Action("QuickSearch", "Page")">
                <input type="text" value="search" id="quick-search" style="width: 50px" />
                </form>
            </div>
            <div class="menu">
                <a id="pagemap-link" href="#">
                    <img src="@Url.Content("~/Content/Images/headings.png")" alt="Pagemap"/></a>
                <a id="sitemap-link" href="#">
                    <img src="@Url.Content("~/Content/Images/sitemap.png")" alt="Sitemap"/></a>
                @RenderSection("PagePath", false)
                <div id="pagemap">
                    <strong>Page map</strong>
                    @if (!IsSectionDefined("PageMap"))
                    {
                        <div>
                            No headings have been defined.</div>
                    }
                    @RenderSection("PageMap", false)
                </div>
                <div id="sitemap">
                    <strong>Site map</strong>
                    @{ Html.RenderAction("Partial", "SiteMap"); }
                </div>
            </div>
        </div>
    </div>
    <hr />
    <div class="content-wrapper">
        @RenderBody()
    </div>
    <script type="text/javascript">
        //var uri = ;
        $('#pagemap-link, #sitemap-link').click(function() {
            $('#' + this.id.substr(0, 7)).toggle();
        });
        $('#pagemap a, #sitemap a').click(function() {
            $('#' + this.id.substr(0, 7)).hide();
        });
        $('#quick-search').focus(function () {
            $(this).animate({ width: '200px' });
            $(this).val('');

        }).blur(function () {
            $(this).animate({ width: '50px' });
            $(this).val('search');

        });
        $("#quick-search").autocomplete({
            minLength: 0,
            source: $('#quick-search').closest('form').attr('action'),
            select: function (event, ui) {
                event.preventDefault();
                window.location = ui.item.link;
                return false;
            }
        });
        $('#quick-search').data("autocomplete")._renderItem = function (ul, item) {
            return $("<li></li>")
                .data("item.autocomplete", item)
                .append('<a href="' + item.link + '"><strong>' + item.title + "</strong><p>" + item.description + "</p></a>")
                .appendTo(ul);
        };
    </script>
    ​</body>
</html>
