@model Griffin.Wiki.WebClient.Models.Page.ShowViewModel

@{
    ViewBag.Title = Model.Title;
}

<h2>@Model.Title</h2>

@Html.Raw(@Model.Body)

<hr/>
<p>Last update at @Model.UpdatedAt by @Model.UserName </p>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.PageName })
    @Html.ActionLink("Revisions", "Revisions", new { id=Model.PageName })
</p>
