@model Griffin.Wiki.WebClient.Areas.Wiki.Models.Template.CreateViewModel
@{
    ViewBag.ExcludePreview = true;
    ViewBag.GotStyle = true;
}
@using (Html.BeginForm())
{
    @Html.ValidationSummary(true)

    <div class="editor-label">
        @Html.LabelFor(model => model.TemplateTitle)
    </div>
    <div class="editor-field">
        @Html.EditorFor(model => model.TemplateTitle)
        @Html.ValidationMessageFor(model => model.TemplateTitle)
    </div>

    <div class="editor-label">
        @Html.LabelFor(model => model.TemplateContent)
    </div>

    <div id="template-editor-tabs">
        <ul>
            <li><a href="#template-editor-tabs-editor">Editor</a></li>
            <li><a href="#template-editor-tabs-preview">Preview</a></li>
        </ul>
        <div id="template-editor-tabs-editor">
            <div class="editor-field">
                @Html.EditorFor(model => model.TemplateContent, "GriffinEditor")
                @Html.ValidationMessageFor(model => model.TemplateContent)
            </div>
        </div>
        <div id="template-editor-tabs-preview">
            <div id="TemplateContent-editor-preview" class="editor-preview" style="width: 610px;
                height: 250px; overflow: scroll">
            </div>
        </div>
    </div>
    <input type="submit" value="Save" />
}
<script type="text/javascript">
    $.loaded(function () {
        $('#template-editor-tabs', this).tabs();
    });
</script>
