@using Griffin.Wiki.Mvc3.Helpers
@using Griffin.Wiki.Mvc3.Helpers
@model Griffin.Wiki.Mvc3.Areas.Wiki.Models.Page.DiffViewModel
@{
    ViewBag.Title = "Revisions";
}
<h2>
    Revisions</h2>
<table>
    <tr>
        <th>
        </th>
        <th>
        </th>
        <th>
            Created by
        </th>
        <th>
            Created at
        </th>
        <th>
        </th>
    </tr>
    @foreach (var item in Model.Revisions)
    {
        <tr>
            <td>
                <input type="radio" name="first" value="@item.RevisionId" />
            </td>
            <td>
                <input type="radio" name="second" value="@item.RevisionId" />
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UserDisplayName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreatedAt)
            </td>
            <td>@item.Comment</td>
        </tr>
    }
</table>
<button name="Compare">
    Compare</button>
<h2>
    Diff</h2>
<div id="diff">
    Select two revisions to see the diff.
</div>
<p>
    @Html.WikiPageLink("Back to page", Model.Path)
</p>
<script type="text/javascript">
    $(function () {
        $('button[name="Compare"]').click(function () {
            var url = '@Url.Action("Compare", new { path = @Model.Path })&first=' + $('input[name="first"]:checked').val() + '&second=' + $('input[name="second"]:checked').val();
            $.get(url, function (response) {
                $('#diff').html(response.content);
            });

        });

        $('input[name="first"]:first').attr('checked', true);
        $($('input[name="second"]')[1]).attr('checked', true);
    });
</script>
