@using Griffin.Wiki.Mvc3.Helpers
@model Griffin.Wiki.Mvc3.Areas.Wiki.Models.Page.ShowViewModel
@{
    ViewBag.Title = Model.Title;
}
@section PageMap
{
    @if (!string.IsNullOrEmpty(Model.TableOfContents))
    {
        @Html.Raw(Model.TableOfContents)
        <span>&nbsp;</span>
    }
}
@section PagePath
{
    @Html.Raw(Model.Path)
}

<h2>@Model.Title</h2>
@Html.Raw(@Model.Body)
<hr />
<p>
    Last update at @Model.UpdatedAt by @Model.UserName
</p>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.PagePath })
    @Html.ActionLink("Revisions", "Revisions", new { id = Model.PagePath })
    @if (User.IsInRole(Griffin.Wiki.Core.WikiRole.Contributor))
    {
        @Html.ActionLink("Delete", "Delete", new { id = Model.PagePath })
    }
</p>
@if (Model.BackLinks.Any())
{
    <text>Backlinks:</text>
    foreach (var link in Model.BackLinks)
    {
        @Html.WikiPageLink(link.Title, link.PagePath)
        <text> </text>
    
    }
}