@model IEnumerable<Griffin.Wiki.Core.Images.DomainModels.WikiImage>
@{
    ViewBag.Title = "Image list";
}
<h2>@ViewBag.Title</h2>
<p>
    @Html.ActionLink("Upload a new image", "Upload")
</p>
<p>
    Click on a image to preview and/or select it.</p>
@foreach (var item in Model)
{
    <div style="float: left">
        <a href="@Url.Action("Select", new { id = item.Id })">
            <img src="@Url.Action("Thumbnail", new { id = item.Id })" alt="@item.Filename" />
        </a>
        <br />
        @item.Title
    </div>
}
