@model Griffin.Wiki.Mvc3.Areas.Wiki.Models.Review.ShowViewModel
@{
    ViewBag.Title = "Review edit";
}
<h2>@ViewBag.Title</h2>
<fieldset>
    <legend>IndexViewModel</legend>
    <div class="display-label">
        CreatedBy</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.CreatedBy)
    </div>
    <div class="display-label">
        Body</div>
    <div class="display-field" style="background: #f0f0f0; border: 1px solid #cccccc">
        @Html.Raw(Model.Body)
    </div>
    @Html.HiddenFor(model => model.RevisionId)
    @Html.HiddenFor(model => model.PagePath)
</fieldset>
<p>
    @Html.ActionLink("Approve", "Approve", new { id = Model.PagePath, revision = Model.RevisionId }, new { @class = "approve ui-button" }) 
    @Html.ActionLink("Improve", "Improve", new { id = Model.PagePath, revision = Model.RevisionId }, new { @class = "improve ui-button" }) 
    @Html.ActionLink("Deny", "Deny", new { id = Model.PagePath, revision = Model.RevisionId }, new { @class = "deny ui-button" })
</p>
<div id="ApproveDialogContent" style="display:none">
    <p>Specify why you deny the edit</p>
    <textarea name="Reason" rows="10" cols="40"></textarea>
</div>
<form method="post" action="" id="secretform"></form>
<script type="text/javascript">
    $(function () {
        $('.approve, .improve').click(function (e) {
            e.preventDefault();
            $('#secretform').attr('action', $(this).attr('href')).submit();
        });

        $('.deny').click(function (e) {
            e.preventDefault();

            var $this = $(this);
            var dialog = $('<div></div>').appendTo('body').html($('#ApproveDialogContent').show());
            dialog.dialog({
                width: 'auto',
                modal: true,
                autoopen: true,
                title: 'Deny edit',
                buttons: {
                    'Ok': function () {
                        var reason = $('textarea[name="Reason"]', dialog).val();
                        if (!reason) {
                            alert('Come on, give us a reason...');
                            return;
                        }
                            
                        $.post($this.attr('href'), $.param({ reason: reason }), function (response) {
                            if (response.success) {
                                window.location = '@Url.Action("Index")';
                            } else {
                                alert(response.body);
                            }
                            
                        });
                        dialog.dialog('close');
                    },
                    'Cancel': function () {
                        dialog.dialog('close');
                    }
                }
            });
        });
    })
</script>