@model Griffin.Wiki.WebClient.Areas.Wiki.Models.Page.ShowViewModel
@{
    ViewBag.Title = Model.Title;
}
@section PageMap
{
    @if (!string.IsNullOrEmpty(Model.TableOfContents))
    {
        @Html.Raw(Model.TableOfContents)
        <span>&nbsp;</span>
    }
}
@section PagePath
{
    @Html.Raw(Model.Path)
}

<h2>@Model.Title</h2>
@Html.Raw(@Model.Body)
<hr />
<p>
    Last update at @Model.UpdatedAt by @Model.UserName
</p>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.PageName })
    @Html.ActionLink("Delete", "Delete", new { id = Model.PageName })
    @Html.ActionLink("Revisions", "Revisions", new { id = Model.PageName })
</p>
@if (Model.BackLinks.Any())
{
    <text>Backlinks:</text>
    foreach (var link in Model.BackLinks)
    {
    @Html.ActionLink(link, "Show", new { id = link })
    
    }
}