@model Griffin.Wiki.Mvc3.Areas.Wiki.Models.Image.IndexViewModel
@{
    ViewBag.Title = "Image repository";
}
<h2>@ViewBag.Title</h2>
<div id="image-tabs">
    <ul>
        <li><a href="#image-tab-preview">Images</a></li>
        <li><a href="#image-tab-upload">Upload</a></li>
    </ul>
    <div id="image-tab-preview" style="width: 600px; height: 500px; overflow: scroll">
        <p>
            Click on a image to preview and/or select it.</p>
        <div id="images">
            @foreach (var item in Model.Images)
            {
                <div style="float: left">
                    <a href="@Url.Action("View", new { id = item.Id })" class="preview-image-link" rel="@item.Id">
                        <img src="@Url.Action("Thumbnail", new { id = item.Id })" alt="@item.Filename" />
                    </a>
                    <br />
                    @item.Title
                </div>
            }
        </div>
    </div>
    <div id="image-tab-upload" style="text-align: left;">
        @using (Html.BeginForm("Upload", "Image", FormMethod.Post, new { enctype = "multipart/form-data", id = "ImgForm", target = "UploadTarget" }))
        {
            <h3>
                Upload Image</h3>
            <input type="hidden" name="pagePath" value="@Model.PagePath" />
            <div>
                <label for="title">
                    <strong>Title (short image description)</strong></label><br />
                <input type="text" name="title" class="required" />
            </div>
            <div>
                <label for="title">
                    <strong>Image to upload</strong></label><br />
                <input type="file" name="imageFile" class="required" />
            </div>
            <br />
            <input type="submit" value="Upload" onclick="$(this).closest('form').validate()" />
        }
<script type="text/javascript">
    var isFirstLoad = true;

    function UploadImage_Complete() {
        if (isFirstLoad == true) {
            isFirstLoad = false;
            return;
        }
        //IE workaround.
        if ($('#ImgForm').length == 0)
            return;

        var $result = null;
        $('#UploadTarget').each(function () {
            $result = $('#json-result', this.contentWindow.document || this.contentDocument);
        });
        
        $('#ImgForm')[0].reset();
        var response = $.parseJSON($result.val());
        if (!response.success) {
            alert(response.body);
            return;
        }
        
        var imgContainer = $('<div style="float: left"></div>');
        var link = $('<a href="@Url.Action("View")' + response.body.id + '" class="preview-image-link" rel="' + response.body.id + '"></a>"');
        var img = new Image();
        img.src = response.body.url;
        img.alt = response.body.filename;
        $(img).appendTo(link);
        link.appendTo(imgContainer);

        $(imgContainer).hide();
        $('#images').append(imgContainer);
        $('#image-tabs').tabs('select', 0);
        $(imgContainer).fadeIn(500, null);
        $(imgContainer).effect("highlight", {}, 3000);
    }</script>
        <iframe id="UploadTarget" name="UploadTarget" onload="UploadImage_Complete();" style="position: absolute;
            left: -999em; top: -999em;" ></iframe>
    </div>
</div>
<div id="image-preview-dialog" class="ui-helper-hidden" style="text-align: left">
    Image title<br />
    <input type="text" name="title" /><br />
    <img id="image-preview-tag" src="" alt="Image preview" />
</div>
<script type="text/javascript">
    var isFirstLoad = true;



    function initializeUploadDialog(successCallback, closeCallback) {
        $('#image-tabs').tabs();
        $('input[name="pagePath"]').val(window.WikiPath);
        $('#image-tab-preview').on('click', 'a.preview-image-link', function (e) {
            e.preventDefault();
            $('#image-preview-dialog img').attr('src', $(this).attr('href'));
            $('#image-preview-dialog').dialog({
                modal: true,
                title: 'Info about selected image',
                width: 'auto',
                open: function () {
                    $(this).dialog("option", "position", 'center');
                },
                buttons: {
                    "OK": function () {
                        successCallback({ url: $('#image-preview-dialog img').attr('src'), title: $('#image-preview-dialog input[name="title"]').val() });
                        $(this).dialog("close");

                        closeCallback();
                    },
                    Cancel: function () {
                        $(this).dialog("close");
                    }
                }
            });
        });
    }


</script>
